.loader-default{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 8px solid #4f46e5;;
    border-top-color: transparent;
    animation: rot1 1.2s linear infinite;
}
.loader-small{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 8px solid #4f46e5;;
    border-top-color: transparent;
    animation: rot1 1.2s linear infinite;
}
.loader-big{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 8px solid #4f46e5;;
    border-top-color: transparent;
    animation: rot1 1.2s linear infinite;
}

@keyframes rot1 {
    to {
      transform: rotate(360deg);
    }
  }