.content {
    width: 100%;
    margin-left: 150px;
}

.form-product {
    margin-right: 16px;
    .label {
        font-size: 12px;
        color: var(--dark-gray);
        margin-left: 4px;
    }
}

.select-option {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
    outline: none;
    line-height: 20px;

    option {
        font-size: 14px;
        color: var(--dark-gray);
    }
}
