.category-hero {
    background-color: var(--light-gray);
    display: flex;
    margin-top: 64px;
    position: absolute;
    width: 100%;

    .side-bar {
        display: flex;
        position: fixed;
        background-color: #4f46e5;
        gap: 8px;
        z-index: 1;
        flex-direction: column;
        max-width: 150px;
        height: 100vh;

        h1 {
            align-self: flex-start;
            padding-left: 4px;
        }
    }

    .content {
        margin-left: 150px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 1rem;

        .container-category {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 0 16px;
            margin-top: 32px;

            h1 {
                font-size: 1.5rem;
                font-weight: 500;
                margin: 0;
                padding: 0;
            }

            .form-category {
                max-width: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                gap: 8px;
            }
        }

        .list-categories {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            flex-direction: column;
            padding: 0 16px;

            h1 {
                align-self: self-start;
            }

            table {
                border-collapse: collapse;
                table-layout: fixed;
                width: 100%;

                thead {
                    tr {
                        th {
                            color: white;
                            font-weight: bold;
                            font-size: 18px;
                            padding: 12px;
                            border: 1px solid #eeeeee0a;
                            text-align: center;
                            background-color: #8380b4c0;
                        }

                        th:last-child {
                            text-align: center;
                        }
                    }
                }
                tbody {
                    tr {
                        display: table-row;

                        td:first-child {
                            text-align: left;
                            padding-left: 16px;
                        }

                        td {
                            border: 1px solid #eeeeee;
                            text-align: right;
                            padding-right: 16px;
                        }

                        td:last-child {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 10px;

                            .td-group {
                                align-items: center;
                                display: flex;
                                gap: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
