.btn-outlined {
    display: block;
    border: 1px solid #212121;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #ffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
  }
  
  .btn-outlined:hover {
    background-color: #21212113;
  }