.btn-outlined {
    display: block;
    border: 1px solid #212121;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #ffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
}

.error {
    background-color: rgba(231, 34, 34, 0.836);
    color: #ffff;
    border: red;
}

.btn-outlined:hover {
    background-color: #21212113;
}

.error:hover {
    background-color: rgba(204, 69, 69, 0.993);
}
