#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Primary Colors */

    /* --Very-dark-blue: hsl(233, 47%, 7%);
      --Dark-desaturated-blue: hsl(244, 38%, 16%);
      --Soft-violet: hsl(277, 64%, 61%);
      --Soft-transparent-violet: hsla(277, 98%, 32%, 0.572); */

    /* Neutral Colors */
    --black: hsla(0, 0%, 0%, 1);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(255, 9%, 56%);
    --light-gray: hsla(0, 0%, 98%, 0.955);
    /*form background*/
    /* --light-gray: hsl(252, 7%, 86%);  */
    --dark-gray: hsla(0, 1%, 13%, 0.955);

    --blue: hsl(244, 39.2%, 60%);
    --dark-blue: hsl(244, 28%, 29%);

    /*Fonts*/
    --title-font: Verdana, Geneva, Tahoma, sans-serif;
    --paragraph-font: "Roboto", sans-serif;
}
